# Giza for python agents
#giza-agent
giza-sdk
#giza-cli

# Data processing and fetching
pandas
requests

# Machine learning
scikit-learn

# Blockchain interaction
web3
zksync2
sqlalchemy
#transaction_confirmator
# Miscellaneous utilities
numpy
matplotlib
scipy
scikit-learn
#math
xgboost 
lightgbm 
catboost 
onnx
# Logging and configuration
loguru
pydantic

# For creating CLI tools and scripts
click

# For managing .env files
python-dotenv

# For handling YAML files (if needed for config)
PyYAML
#pyenv
